<nav class="row navegador">
      <a class="boton-nav col-3" href="./index.html"><i class="fas fa-home"></i> INICIO</a>
      <a class= "boton-nav col-3"><i class="fas fa-store"></i> NUESTRAS SUCURSALES</a>
      <a class= "boton-nav col-3"><i class="far fa-smile-beam"></i> SOBRE NOSOTROS</a>
      <a class= "boton-nav col-3"><i class="fas fa-mug-hot"></i> ATENCIÓN AL CLIENTE</a>
    </nav>